{% extends 'base.html.twig' %}

{% block title %}GetController{% endblock %}

{% block body %}
<div class="ui segment">
    <h1>Peticiones GET</h1>

    <p>
        GET es el método más común para hacer peticiones de datos a un recurso especificado. Las consultas son parte
        de la URL.
    </p>

    <p>Características</p>

    <ul>
        <li>GET requests can be cached</li>
        <li>GET requests remain in the browser history</li>
        <li>GET requests can be bookmarked</li>
        <li>GET requests should never be used when dealing with sensitive data</li>
        <li>GET requests have length restrictions</li>
        <li>GET requests is only used to request data (not modify)</li>
    </ul>

    <p>Pulsa el siguiente botón para cargar esta página como método GET:</p>

    <div class="ui segment basic">

        <a href="{{ path('get') }}" class="ui link">CARGAR</a>
        <a href="{{ path('get') }}?q=hola" class="ui link">CARGAR con parámetros</a>
    </div>

    <table class="ui definition table">
        <tbody>
        <tr>
            <td class="collapsing">Método</td>
            <td>{{ app.request.method }}</td>
        </tr>
        {% for name, value in app.request.query.all %}
            <tr>
                <td class="collapsing">Valor de {{ name }}</td>
                <td>{{ value | default('Vacío') }}</td>
            </tr>
        {% endfor %}
        {% if app.request.query.has('q') %}
            <tr>
                <td class="collapsing">Valor de q inseguro</td>
                <td>{{ app.request.query.get('q') | raw }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <h2>Ejemplo</h2>

    <pre><code class="language-html">{{ '<a href="ruta?parametro=valor">Enlace GET</a>' | e }}</code></pre>
</div>

<div class="ui segment">
    <resource>
        Referencia: <a href="https://www.w3schools.com/tags/ref_httpmethods.asp">HTTP Request Methods</a>
    </resource>
</div>

{% endblock %}
