<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="full height" >
            <div class="ui left visible inline vertical inverted labeled menu" style="height: 100%; position: fixed">
                <a class="item" href="{{ path('homepage') }}">
                    Página principal
                </a>
                <a class="item" href="{{ path('get') }}">
                    Peticiones GET
                </a>
                <a class="item" href="{{ path('post') }}">
                    Peticiones POST
                </a>
                <div class="item">
                    <div class="header">
                        Sesiones
                    </div>
                    <div class="menu">
                        <a class="item" href="{{ path('session') }}">Crear</a>
                        <a href="{{ path('session_buy') }}" class="item">Lista de compra</a>
                        <a href="{{ path('session_safe_buy') }}" class="item">Lista de compra segura</a>
                        <a class="item" href="{{ path('session_destroy') }}">Destruir</a>
                    </div>
                </div>
            </div>
            <div class="article" style="margin-left: 250px;">
                <div class="ui main intro container" style="max-width: 650px; padding: 60px 10px; margin-left: 0px !important;">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    </body>
</html>
